@model System.Web.Mvc.HandleErrorInfo
@{
	ViewBag.Title = General.ErrorPageTitle;
}

<div class="d-flex justify-content-center pt-3 pt-md-5">
	<div class="card border-danger mb-3" style="max-width: 600px">
		<div class="card-body">
			<h4 class="card-title">@General.ErrorTitle</h4>
			<p class="card-text">@General.ErrorMessage</p>
		</div>
	</div>
</div>


