<div class="bg-secondary scrollbar-sm p-2 mt-2">
	<h5>Followers</h5>
	<hr style="margin-top:3px" />
	<div style="max-height:240px;overflow-y:auto;">
		<ul id="follower-list" class="hive-list"></ul>
	</div>
</div>
