<div class="bg-secondary scrollbar-sm p-2 mt-2">
	<h5>Following</h5>
	<hr style="margin-top:3px" />
	<div style="max-height:240px;overflow-y:auto;">
		<ul id="following-list" class="hive-list" style="max-height:300px;overflow-y:auto;"></ul>
	</div>
</div>