<div id="section-settings" class="bg-secondary p-2 section-left">
	<div class="d-flex justify-content-between align-items-center">
		<h5>Settings</h5>
		<i class="fa fa-arrow-left section-option"></i>
	</div>

	<hr style="margin-top:3px" />


	<small><b>General</b></small>
	<hr style="margin:0" />
	@if (!User.Identity.IsAuthenticated)
	{
		<div class="d-flex">
			<span style="font-size:12px">User Handle</span>
			<input id="settings-userhandle" class="flex-fill" style="height:20px;margin-left:5px; font-size:12px" />
			<small class="field-validation-valid text-danger" data-valmsg-for="settings-userhandle" data-valmsg-replace="true"></small>
		</div>
	}
	<div class="d-flex align-items-center mt-1" style="cursor:pointer">
		<div class="d-flex">
			<i data-theme="light" class="fa fa-sun text-info bootstrap-theme-select bootstrap-theme-select-sun" style="font-size:20px"></i>
			<i data-theme="dark" class="fa fa-moon text-primary bootstrap-theme-select bootstrap-theme-select-moon" style="font-size:16px"></i>
		</div>
		<div class="d-flex ml-1">
			<span data-theme="light" style="font-size:12px" class="bootstrap-theme-select bootstrap-theme-select-sun">Change to Day mode</span>
			<span data-theme="dark" style="font-size:12px" class="bootstrap-theme-select bootstrap-theme-select-moon">Change to Night mode</span>
		</div>
	</div>

	<small><b>Local Storage</b></small>
	<hr style="margin:0" />
	<div class="custom-control custom-switch" style="font-size:12px">
		<input type="checkbox" class="custom-control-input" id="settings-messagestore-enabled" checked="">
		<label class="custom-control-label" for="settings-messagestore-enabled">Store hive messages</label>
	</div>
	<div class="d-flex">
		<input id="settings-messagestore-max" style="width:30px;height:20px;margin-right:3px;font-size:12px" />
		<span style="font-size:12px">Max messages to store</span>
	</div>
	<div class="custom-control custom-switch" style="font-size:12px">
		<input type="checkbox" class="custom-control-input" id="settings-messagestore-sync-enabled" checked="">
		<label class="custom-control-label" for="settings-messagestore-sync-enabled">Enable Message Sync</label>
	</div>
	<small><b>Render Settings</b></small>
	<hr style="margin:0" />
	<div class="custom-control custom-switch" style="font-size:12px">
		<input type="checkbox" class="custom-control-input" id="settings-render-link" checked="">
		<label class="custom-control-label" for="settings-render-link">Render Links <small>(at own risk!)</small></label>
	</div>
	<div class="custom-control custom-switch" style="font-size:12px">
		<input type="checkbox" class="custom-control-input" id="settings-render-followlink" checked="">
		<label class="custom-control-label" for="settings-render-followlink">Render Links Follow Only</label>
	</div>

	<div class="d-flex">
		<button id="settings-messagestore-save" class="btn btn-sm btn-block btn-outline-info mt-1">Save Settings</button>
	</div>
	<hr style="margin-top:3px" />
	<small><b>Muted Users</b></small>
	<hr style="margin:0" />
	<ul id="settings-mutedusers" class="hive-list"></ul>
	<small><b>Muted Hives</b></small>
	<hr style="margin:0" />
	<ul id="settings-mutedhives" class="hive-list"></ul>
	<div class="d-flex">
		<button id="settings-messagestore-clear" class="btn btn-sm btn-block btn-outline-info">Clear Settings</button>
	</div>
</div>
