<div id="section-settings" class="bg-secondary p-2 section-left">
	<div class="d-flex justify-content-between align-items-center">
		<h5>Settings</h5>
		<i class="fa fa-arrow-left section-option"></i>
	</div>

	<hr style="margin-top:3px" />
	<div class="d-flex">
		<button id="settings-messagestore-clear" class="btn btn-sm btn-block btn-outline-info">Clear Local Settings</button>
	</div>

	<small><b>Local Storage</b></small>
	<hr style="margin:0" />
	<div class="switchbox switchbox-md mt-1">
		<label class="switch-checkbox">
			<input id="settings-messagestore-enabled" type="checkbox">
			<span class="slider round"></span>
		</label>
		<div class="switch-label-container">
			<span class="switch-label">Store hive messages</span>
		</div>
	</div>
	<div class="switchbox switchbox-md mt-1">
		<label class="switch-checkbox">
			<input id="settings-messagestore-global-enabled" type="checkbox">
			<span class="slider round"></span>
		</label>
		<div class="switch-label-container">
			<span class="switch-label">Store #global messages</span>
		</div>
	</div>
	<div class="d-flex">
		<input id="settings-messagestore-max" type="number" style="width:42px;height:24px;margin-right:3px;font-size:14px" />
		<span style="font-size:14px">Max messages to store</span>
	</div>
	<small><b>Render Settings</b></small>
	<hr style="margin:0" />


	<div class="switchbox switchbox-md mt-1">
		<label class="switch-checkbox">
			<input id="settings-render-link" type="checkbox">
			<span class="slider round"></span>
		</label>
		<div class="switch-label-container">
			<span class="switch-label">Render Links <small>(at own risk!)</small></span>
		</div>
	</div>
	<div class="switchbox switchbox-md mt-1">
		<label class="switch-checkbox">
			<input id="settings-render-followlink" type="checkbox">
			<span class="slider round"></span>
		</label>
		<div class="switch-label-container">
			<span class="switch-label">Render Links Follow Only</span>
		</div>
	</div>



	<div class="d-flex">
		<button id="settings-messagestore-save" class="btn btn-sm btn-block btn-outline-info mt-1">Save Settings</button>
	</div>
	<hr style="margin-top:3px" />
	<small><b>Muted Users</b></small>
	<hr style="margin:0" />
	<ul id="settings-mutedusers" class="hive-list"></ul>
	<small><b>Muted Hives</b></small>
	<hr style="margin:0" />
	<ul id="settings-mutedhives" class="hive-list"></ul>
</div>
