@*<script id="hiveTabTemplate" type="text/html">
		<li id="hivetab-tab-{{Hive}}" class="user-hive nav-item">
			<a class="nav-link active d-flex align-items-center" data-toggle="tab" role="tab" href="#hivetab-content-{{Hive}}">
				<span>#{{Hive}}</span>
				<span id="hivetab-tab-unread-{{Hive}}" class="badge badge-info ml-2" style="display:none;font-size:11px">0</span>
			</a>
		</li>
	</script>


	<script id="hiveTabContentTemplate" type="text/html">
		<div id="hivetab-content-{{Hive}}" class="user-hive tab-pane fade show active" role="tabpanel">
			<div>
				<textarea id="hivetab-message-{{Hive}}" data-hive="{{Hive}}" class="form-control hive-message-content" style="max-width:100%" placeholder="Whats on your mind?" maxlength="240"></textarea>
				<div class="hive-message-footer">
					<div class="d-flex justify-content-between pt-1">
						<div class="switchbox switchbox-md disabled">
							<label class="switch-checkbox">
								<input id="hivetab-sendall-{{Hive}}" type="checkbox" />
								<span class="slider round" style="background-color:#343a40"></span>
							</label>
							<div class="switch-label-container">
								<span class="switch-label">Send to all my hives</span>
							</div>
						</div>
						<button data-target="#hivetab-message-{{Hive}}" data-hive="{{Hive}}" type="button" class="btn btn-info hive-message-btn">Send Message</button>
					</div>
				</div>
			</div>
			<hr />
			<ul id="hivetab-messages-{{Hive}}" class="list-group hive-messages">
				<li id="hivetab-placeholder-{{Hive}}" class="list-group-item">
					<small><i style="opacity:0.6">There are no new messages for this hive</i></small>
				</li>
			</ul>
		</div>
	</script>*@

<script id="trendingHiveTemplate" type="text/html">
	<li id="hive-{{Hive}}" data-order="{{Count}}" data-hive="{{Hive}}">
		<div class="d-flex justify-content-between">
			<div class="d-flex justify-content-between align-items-center w-100">
				<span class="trendinghive-text">#{{Hive}}</span>
				<small>
					(<span class="trendinghive-count">{{Count}}</span>)
				</small>
			</div>
			<div class="btn-group">
				<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:center;">
					<i class="fas fa-ellipsis-v"></i>
				</span>
				<div class="dropdown-menu dropdown-menu-right">
					<button data-hive="{{Hive}}" class="dropdown-item trendinghive-join" type="button">Join Hive</button>
					<button data-hive="{{Hive}}" class="dropdown-item trendinghive-mute" type="button">Mute Hive</button>
				</div>
			</div>
		</div>

	</li>
</script>

<script id="myHiveTemplate" type="text/html">
	<li id="myhive-{{Hive}}" style="list-style:none">
		<div class="d-flex justify-content-between">
			<span>#{{Hive}}</span>
			<div class="btn-group">
				<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:center;">
					<i class="fas fa-ellipsis-v"></i>
				</span>
				<div class="dropdown-menu dropdown-menu-right">
					<button data-hive="{{Hive}}" class="dropdown-item myhive-leave" type="button">Leave Hive</button>
				</div>
			</div>
		</div>
	</li>
</script>

<script id="messageTemplate" type="text/html">
	<li class="list-group-item message-sender-{{Sender}} message-id-{{Id}}" data-messageid="{{Id}}">
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-between">
				<small class="text-primary">{{Sender}}</small>
				<div class="d-flex">
					<small class="time-elapsed" data-time="{{Timestamp}}">{{TimeElapsed}}</small>
					<div class="btn-group">
						<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:right;">
							<i class="fas fa-ellipsis-v"></i>
						</span>
						<div class="dropdown-menu dropdown-menu-right">
							<button data-user="{{Sender}}" class="dropdown-item message-followuser" type="button">Follow User</button>
							<button data-user="{{Sender}}" class="dropdown-item message-unfollowuser" type="button">Unfollow User</button>
							<button data-user="{{Sender}}" class="dropdown-item message-muteuser" type="button">Mute User</button>
							<button class="dropdown-item message-mute" type="button">Mute Message</button>
						</div>
					</div>
				</div>
			</div>
			<p style="word-break:break-word;white-space:pre-line">{{Message}}</p>
			<div class="d-flex flex-wrap">
				{{#Hives}}
				<span class="message-hivetag" style="font-size:11px;margin-right:8px;cursor:pointer">#{{.}}</span>
				{{/Hives}}
			</div>
			<div>
				{{{EmbeddedTags}}}
			</div>
		</div>
	</li>
</script>

<script id="mentionTemplate" type="text/html">
	<li class="list-group-item message-sender-{{Sender}} message-id-{{Id}}" data-messageid="{{Id}}">
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-between">
				<small class="text-primary">{{Sender}}</small>
				<div class="d-flex">
					<small class="time-elapsed" data-time="{{Timestamp}}">{{TimeElapsed}}</small>
					<div class="btn-group">
						<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:right;">
							<i class="fas fa-ellipsis-v"></i>
						</span>
						<div class="dropdown-menu dropdown-menu-right">
							<button data-user="{{Sender}}" class="dropdown-item message-followuser" type="button">Follow User</button>
							<button data-user="{{Sender}}" class="dropdown-item message-unfollowuser" type="button">Unfollow User</button>
							<button data-user="{{Sender}}" class="dropdown-item message-muteuser" type="button">Mute User</button>
							<button class="dropdown-item message-mute" type="button">Mute Message</button>
						</div>
					</div>
				</div>
			</div>
			<p style="word-break:break-word;white-space:pre-line">{{Message}}</p>
			<div class="d-flex flex-wrap">
				{{#Hives}}
				<span class="message-hivetag" style="font-size:11px;margin-right:8px;cursor:pointer">#{{.}}</span>
				{{/Hives}}
			</div>
			<div>
				{{{EmbeddedTags}}}
			</div>
		</div>
	</li>
</script>

<script id="friendsTemplate" type="text/html">
	<li class="list-group-item message-sender-{{Sender}} message-id-{{Id}}" data-messageid="{{Id}}">
		<div class="d-flex flex-column">
			<div class="d-flex justify-content-between">
				<small class="text-primary">{{Sender}}</small>
				<div class="d-flex">
					<small class="time-elapsed" data-time="{{Timestamp}}">{{TimeElapsed}}</small>
					<div class="btn-group">
						<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:right;">
							<i class="fas fa-ellipsis-v"></i>
						</span>
						<div class="dropdown-menu dropdown-menu-right">
							<button data-user="{{Sender}}" class="dropdown-item message-followuser" type="button">Follow User</button>
							<button data-user="{{Sender}}" class="dropdown-item message-unfollowuser" type="button">Unfollow User</button>
							<button data-user="{{Sender}}" class="dropdown-item message-muteuser" type="button">Mute User</button>
							<button class="dropdown-item message-mute" type="button">Mute Message</button>
						</div>
					</div>
				</div>
			</div>
			<p style="word-break:break-word;white-space:pre-line">{{Message}}</p>
			<div class="d-flex flex-wrap">
				{{#Hives}}
				<span class="message-hivetag" style="font-size:11px;margin-right:8px;cursor:pointer">#{{.}}</span>
				{{/Hives}}
			</div>
			<div>
				{{{EmbeddedTags}}}
			</div>
		</div>
	</li>
</script>

<script id="toastTemplate" type="text/html">
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
		<div class="toast-header">
			<strong class="mr-auto">{{Header}}</strong>
			<small class="text-muted">just now</small>
			<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="toast-body">
			{{Content}}
		</div>
	</div>
</script>

<script id="settingMuteUserTemplate" type="text/html">
	<li>
		<div class="d-flex justify-content-between align-items-center">
			<small>{{.}}</small>
			<i class="fa fa-times settings-remove-user" data-user="{{.}}"></i>
		</div>
	</li>
</script>

<script id="settingMuteHiveTemplate" type="text/html">
	<li>
		<div class="d-flex justify-content-between align-items-center">
			<small>{{.}}</small>
			<i class="fa fa-times settings-remove-hive" data-hive="{{.}}"></i>
		</div>
	</li>
</script>

<script id="followerTemplate" type="text/html">
	<li class="follower-{{.}}">
		<div class="d-flex justify-content-between">
			<span>{{.}}</span>
			<div class="btn-group">
				<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:right;">
					<i class="fas fa-ellipsis-v"></i>
				</span>
				<div class="dropdown-menu dropdown-menu-right">
					<button data-user="{{.}}" class="dropdown-item message-followuser" type="button">Follow User</button>
				</div>
			</div>
		</div>
	</li>
</script>

<script id="followingTemplate" type="text/html">
	<li class="following-{{.}}">
		<div class="d-flex justify-content-between">
			<span>{{.}}</span>
			<div class="btn-group">
				<span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;width:30px;text-align:right;">
					<i class="fas fa-ellipsis-v"></i>
				</span>
				<div class="dropdown-menu dropdown-menu-right">
					<button data-user="{{.}}" class="dropdown-item message-unfollowuser" type="button">Unfollow User</button>
				</div>
			</div>
		</div>
	</li>
</script>

<script id="emptyListTemplate" type="text/html">
	<li class="empty-list-template"><small><i>{{.}}</i></small></li>
</script>

<script id="linkifyImgurLink" type="text/html">
	<div style="">
		<blockquote class="imgur-embed-pub" lang="en" data-id="{{.}}"></blockquote>
		<script src="https://s.imgur.com/min/embed.js" charset="utf-8"></script>
	</div>
</script>


<script id="linkifyYoutubeLink" type="text/html">
	<iframe style="width:100%;height:300px;margin-top:10px" src="https://www.youtube-nocookie.com/embed/{{.}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</script>