<div class="bg-secondary p-2">
	<h5>Trending Hives</h5>
	<hr style="margin-top:3px" />
	<ul id="trending-hives" class="hive-list"></ul>
	<div class="text-center">
		<small>
			<span>Hive: <span class="hive-totalcount"></span></span>
		</small>
	</div>
</div>
