@{
	ViewBag.Title = "HiveFive";
}

<div id="main-container" class="main-container-desktop row mt-2">
	<div class="col-md-3">
		@{ Html.RenderPartial("_MyHives");}
		@{ Html.RenderPartial("_Settings");}
	</div>
	<div class="col-md-6">
		@{ Html.RenderPartial("_MainFeed");}
	</div>
	<div class="col-md-3">
		@{ Html.RenderPartial("_Trending");}
		@{ Html.RenderPartial("_Following");}
		@{ Html.RenderPartial("_Followers");}
	</div>
</div>

@{ Html.RenderPartial("_Templates");}

@section Scripts {
	<script src="~/Content/Scripts/Project/Home/index.js?v=@DateTime.UtcNow.Millisecond"></script>
}

