@model HiveFive.Core.Common.AccountSettings.AccountSettingsModel
@{
	ViewBag.Title = AccountSettings.SettingsPageTitle;
}

<div class="row">
	<div class="col-md-6">
		<section>
			<b>@AccountSettings.SettingsTwoFactorTitle</b>

			<div class="form-group">
				@Html.EnumDropDownListFor(m => m.TwoFactorType, new { @class = "form-control form-control-sm", @readonly = "readonly", disabled = "disabled", style = "cursor:default;" })
			</div>
			<div class="form-group">
				<a class="btn btn-sm btn-secondary w-100" href="@Url.Action("Create", "TwoFactor")">@AccountSettings.TwoFactorButtonTextSetup</a>
			</div>
		</section>
	</div>
</div>

